{% extends "layout.html" %}
{% block body %}
<h3>Contact information</h3>

<p>For any information please contact Marc-André Delsuc at the following address:
<ul>
<li>Email : madelsuc@unistra.fr</li>
<li>Address : 1 rue Laurent Fries BP 10142 67404 Illkirch CEDEX, France</li>
</ul>

For a bug report, please join the <strong>JobId</strong> in which the problem was encountered
<em>(given in the web page when submitting the process)</em>.
If a jobid was not generated, or if you lost it, provide us with the date and time at which the problem was encountered.</p>
</form>
{% endblock %}