{% extends "layout.html" %}
{% block body %}

<p><em>This program will only work for experiment run on a Bruker instrument.
Tested for TopSpin versions 2.1 to 3.2</em></p>
    
<ul>
    <li>Start with a set of samples with a quantitative measurement (activity, IC50,...)</li>
    <li>Acquire a set of 2D NMR experiments (the program actually handles COSY, TOCSY, HSQC, HMBC, DOSY). It is important that
        <ul>
            <li>all samples are acquired with exactly the same set-up, ideally in automation</li>
            <li>create a Bruker experiment for each sample</li>
            <li>the same <tt>expno</tt> are used all along the different experiments</li>
        </ul></li>
    <li>Create a zip archive of the Bruker experiements, no need to process them</li>
    <li>Go to the page  "Data Processing" to send your job - this will start the processing job on our server. You will receive a mail when the processing is finished. (processing time may depend on the server load).</li>
    <li>This mail will contain a link pointing to the site where you can be look at the results of the analysis</li>
</ul>

<!-- <h3>Remarks</h3>
<ul>

</ul>
 -->
<!--Exemple de formulaire simple sans bootstrap en cas de besoin.
Comprends un champ pour l'email, pour upload un fichier, pour 1 paramètre texte et pour 1 liste déroulante.
    <form method="POST" enctype=multipart/form-data action="">
    <p>Email : <input type="email" name="email" autofocus/></p>
    <p>Paramètre 1 : <input type="text" name="param1"></p>
    <p>Paramètre 2 : <select name="param2">
    <option value="Red">Force rouge</option>
    <option value="Green">Force bleue</option>
    <option value="Green">Force verte</option>
    </select></p>
    <p>Données à analyser : <input type="file" name="file"></p>
    <input type="submit" value="Upload">
    </form>
-->

<!--formulaire avec bootstrap (plus joli mais plus complexe)-->
<form method="POST" enctype=multipart/form-data action="" id="myform">
<h3>Your data</h3>
    <fieldset class="form-group">
        <label for="exampleInputEmail1" required="true">Email address</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email" required>
        <small class="text-muted">Your results will be sent to this address, usually in less than an hour.</small>
    </fieldset>
    <fieldset class="form-group">
        <label for="exampleInputText">Optional comment </label>
        <input type="text" class="form-control" placeholder="Enter comment", name="Comment">
   </fieldset>
    <fieldset class="form-group">
        <label for="exampleInputFile">Data file input (.zip)</label>
        <input type="file" class="form-control-file" name="file">
   </fieldset>
<hr/>
<!-- <h3>Parameters</h3>
    <p class="form-control-static">Choose ..</p>
        <select class="form-control" name="Something">
          <option value="1">Default value &nbsp; &nbsp; &nbsp;   Blablabla</option>
        </select>
        <br>
 -->
 <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
</form>
{% endblock %}
