{% extends "layout.html" %}
{% block body %}
<h1>Important notice</h1>
<p>These pages present a static view of the <i>Plasmodesma</i> serveur that is currently being deployed.</p>
<p>At the date of the submission, the site does not allow the processing of new experiments and only presents the results from the Artemisinine and Quinquina experiments.</p>

<p>Many points are already in the development pipe-line, and will be available rapidly, and to the latest at the date of the Faraday meeting, and a real processing pipeline, allowing to deposit you own NMR experiments and to analyse them with the interactive tools.</p>

<p>The service provided on internet is meant to be improved regularly, both by the extension of the analytical methods and addition of new methods, but also by input from the users of the service, and in articular from remarks that will be discussed during the meeting.</p>

<div class="container" style="background-color:#faf3be;border-width:2px;border-color:#89c8e2;border-style:solid"></div>

<h3>Welcome</h3>
<p>This Web service allows to use the *Plasmodesma* server freely</p>
<p>When using this service, please refer to:
	<ul>
		<li> L. Margueritte, P. Markov, L. Chiron, J.-P. Starck, C. Vonthron-Sénécheau, M. Bourjot and M.-A. Delsuc, <em>Magn. Reson. Chem.</em>, 2018, <strong>56</strong>, 469–479.</li>
	</ul>
</p>

<p><em>This site is associated to the work:</em></p>
<div class="container">
<h4>Automatised Pharmacophoric Deconvolution of Plant Extracts, application to Cinchona bark crude extract</h4>
<p>Laure Margueritte,a‡ Laura Duciel,b,c‡ Mélanie Bourjot,d Catherine Vonthron- Sénécheau,a and Marc-André Delsuc∗b<br>
<ul>
<li>a. Laboratoire d’Innovation Thérapeutique (LIT) UMR CNRS 7200, LabEx Medalis, Faculté de
Pharmacie, Université de Strasbourg, Illkirch-Graffenstaden, France</li>
<li>b. CASC4DE Le Lodge, 20, Avenue du Neuhof, 67100 Strasbourg, France</li>
<li>c. Institut de Génétique et de Biologie Moléculaire et Cellulaire (IGBMC), INSERM U596, CNRS
UMR 7104, Université de Strasbourg, Illkirch-Graffenstaden, France</li>
<li>d. Institut Pluridisciplinaire Hubert Curien (IPHC) UMR CNRS 7178, Faculté de Phar- macie, Université de Strasbourg, Illkirch-Graffenstaden, France.</li>
</ul>
‡ These two authors contributed equally<br/>
<p><i>Submitted</i></p>

<h4>Abstract</h4>
<p>
We present a development of the *Plasmodesma* dereplication method [Margueritte et al., <I>Magn. Reson. Chem.</I>, 2018 <B>56</B>, 469].
This method is based on the automatic acquisition of a standard set of NMR experiments from a medium size set of samples differing by their bioactivity.
From this raw data, an analysis pipeline is run and the data is analysed by leveraging  machine learning approaches in order to extract the spectral fingerprints of the active compounds.
The optimal conditions for the analysis are determined, and tested on two different system, a synthetic sample where a single active molecule is to be isolated and characterized, and a complex bioactive matrix with synergetic interactions between the components.
The method allows the identification of the active compounds and performs a pharmacophoric deconvolution.</p>

<p>The program is made available on internet, with an interactive visualisation of the statistical analysis, at https://plasmodesma.igbmc.science.
</p>
<p>Visit the <a href="about.html" title="About">Methods</a> page for details.</p>
</div>


<h3>To process a data-set</h3>
<ul>
	<li>Start with a set of samples with a quantitative measurement (activity, IC50,...)</li>
	<li>Acquire a set of 2D NMR experiments (the program actually handles COSY, TOCSY, HSQC, HMBC, DOSY). It is important that
		<ul>
			<li>all samples are acquired with exactly the same set-up, ideally in automation</li>
			<li>create a Bruker experiment for each sample</li>
			<li>the same <tt>expno</tt> are used all along the different experiments</li>
		</ul></li>
	<li>Create a zip archive of the Bruker experiements, no need to process them</li>
	<li>Go to the page  "Data Processing" to send your job - this will start the processing job on our server. You will receive a mail when the processing is finished. (processing time may depend on the server load).</li>
	<li>This mail will contain a link pointing to the site where you can be look at the results of the analysis</li>
</ul>

<h3>Program</h3>
<p>This program is available here:
<a href="https://github.com/LauraDuciel/plasmodesma">https://github.com/LauraDuciel/plasmodesma</a></p>
  

<h3>Terms of use</h3>
<p>By using this service, you agree to acknowledge this program when presenting results using this program.
    In particular, you should always cite the reference above.</p>
    
<p>This server is provided as an ....
    As it is, it might help you, and it is our goal to provide you with the best possible results.
However, it is not meant to provide an "official" answer, and many possible errors are possible.
<strong>Please, use it at your own risks!</strong>
In particular we do not take any special care to protect you data for being viewed or copied by unwanted people.
Please do not submit here critical data.</p>

<p>The code used here as well as the results of the processing is distributed under the licence: 
    <a>LICENCE Cecill A</a>. <br/>
</p>

<p>The results are kept for a certain amount of time (...).
there are deleted and no copy is left on our server.</p>

<h3>Acknowledgements</h3>
<p>This sever is made possible thanks to the help of many people and organisations.<p>
We thanks 
<ul><li><a href="http://www.casc4de.eu">The CASC4DE company</a> for the code of the web server</li>
	<li>the <a href="http://www.igbmc.fr">IGBMC</a> for access to CPU time</li>
	<li>J. Seiler and the <a href="http://www.igbmc.fr">IGBMC IT</a> team for the support of the server</li>
</ul>
{% endblock %}
