{% extends "layout.html" %}
{% block body %}
<h3>Welcome</h3>
<p>This Web service allows to ....</p>


<p><em>This site is associated to the work:</em></p>
<div class="container">
<h4>Automatised Pharmacophoric Deconvolution of Plant Extracts, application to Quinquina.</h4>
<p>Laure Margueritte1* Laura Duciel2* Mélanie Bourjot1
Catherine Vonthron-Sénécheau1 Marc-André Delsuc2,3<br>
<ul>
<li>1. Laboratoire d’Innovation Thérapeutique (LIT) UMR CNRS 7200, LabEx Medalis, Faculté de
Pharmacie, Université de Strasbourg, Illkirch-Graffenstaden, France</li>
<li>2. CASC4DE Le Lodge, 20, Avenue du Neuhof, 67100 Strasbourg, France</li>
<li>3. Institut de Génétique et de Biologie Moléculaire et Cellulaire (IGBMC), INSERM U596, CNRS
UMR 7104, Université de Strasbourg, Illkirch-Graffenstaden, France</li>
</ul>
• These two authors contributed equally<br/>

<p>Abstract Here</p>
<p>Visit the <a href="about.html" title="About">Methods</a> page for details.</p>
</div>

<p></p>
<p>This web site allows to use the PALMA algorithm to process you DOSY experiments.
    </p>

<h3>To process a data-set</h3>

    <p> Use the "Data Analysis" page to send your job,....</p>
        
<h3>Terms of use</h3>
<p>By using this service, you agree to acknowledge this program when presenting results using this program.
    In particular, you should always cite the reference above.</p>
    
<p>This server is provided as an ....
    As it is, it might help you, and it is our goal to provide you with the best possible results.
However, it is not meant to provide an "official" answer, and many possible errors are possible.
<strong>Please, use it at your own risks!</strong>
In particular we do not take any special care to protect you data for being viewed or copied by unwanted people.
Please do not submit here critical data.</p>

<p>The code used here as well as the results of the processing is distributed under the licence: 
    <a>LICENCE</a>. <br/>
This implies that ...
</p>

<p>The results are kept for a certain amount of time (...).
there are deleted and no copy is left on our server.</p>

<h3>Acknowledgements</h3>
<p>This sever is made possible thanks to the help of many people and organisations.<p>
We thanks:
<ul>

</ul>
{% endblock %}
